*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  background-color: #25243A;
  font-family: Roboto;
  font-style: regular;
  font-size: 16px
}

span{
  color: #2d3032;
}

#contact-btn{
  background-color: #25243A;
}
hr
    {
      margin-top: 0;
      width: 40px;
      background-color:black;
      border-radius: 5px;
    }

    .grid
    {
        display: grid;
    }
    
    .col-1
    {
        grid-template-columns: repeat(1,1fr);
    }

    .col-2
    {
        grid-template-columns: repeat(2,1fr);
    }

    .col-3
    {
        grid-template-columns: repeat(3,1fr);
    }

    .col-4
    {
        grid-template-columns: repeat(4,1fr);
    }

    .col-5
    {
        grid-template-columns: repeat(5,1fr);
    }

    .text-align-center
    {
      text-align: center;
    }

    .text-align-right
    {
      text-align: right;
    }

    .align-items-center
    {
      align-items: center;
    }
    .nav-links{
      display: inline-block;
      
  }
    .nav-menu
    {
      
    }
   
   /* #aboutMe-pic
    {
      width: 2400px;
      height: 900px;
    }
    */

    #hero
    {
      height: 100vh;
      width: 100%;
      font-family: Roboto;
      font-style: regular;
      font-size: 16px
    }

    .radius{
      border-radius: 40px;
    }

    .expectationPic
    {
      width: 200px;
      height: 200px;
      
    }
    #services{
      
    }
    #services > div{
      height: 100%;
    }
    #services > div > div:nth-child(1){
      margin-top: 100px;
    }

    #services > div > div:nth-child(1) > p:nth-child(1)
    {
      margin-bottom: 100px;
    }

    .service-image
    {
      width: 200px;
      height: 200px;
    }

    .box-bgColor
    {
      background-color:#0666F6;
    }

    #bg-div
    {
      width: 50px;
      height: 100%;
      padding: 0;
    
    }

    #bg-div > div
    {
      align-items: center;
      justify-items: center;
    }
    
    #bg-div > div > div
    {
      justify-items: right;
    } 

    .contact-btn
    {
      background-color:#ED7171;;
      color: white;
    }

    #contact-div
    {
      padding:60px 100px;
      color: #f8f8f8d8;
    }

    #contact-div > div:nth-child(1)
    {
      padding-bottom:55px;
    }

    #projects
    {
      margin-top: 100px;
    }

    .margin-top-50
    {
      margin-top: 50px;
    }

    .padding-bottom-5
    {
      padding-bottom: 5px;
    }

    #filter {
      margin-top: 60px;
    }
    #filter > div
    {
      justify-items: center;
      width: 70%;
      margin: 0 auto;
    }